<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  
  
  <!--<configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal"/>
  </configSections>-->
  
  
  <!-- PayPal SDK Settings - - >
  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>
      <add name="clientId" value="ARoBbDFhFHUZjrn6ZLf738uBQmQNsee5JwaJ4bUkTXOA8Hib2mEzvDtrk729X_RiAjfGj4tNoHGdD7HO"/>
      <add name="clientSecret" value="EBLhF0ILfhqB-pVOElZTl_pylEieDNXC2-8b0Ul7b4sXfP2-6kuYtfxnLgPWp3AXLytJ62nF9gkRUHWF"/>
      < ! - -
      <add name="clientId" value="AUASNhD7YM7dc5Wmc5YE9pEsC0o4eVOyYWO9ezXWBu2XTc63d3Au_s9c-v-U"/>
      <add name="clientSecret" value="EBq0TRAE-4R9kgCDKzVh09sm1TeNcuY-xJirid7LNtheUh5t5vlOhR0XSHt3"/>
      - - >
    </settings>
  </paypal>
  < ! - -   -->



</configuration>